@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

strong {
    color: red;
}

main .card {
    border: none;
}

main .img {
    min-height: 50vh;
}

main p {
    line-height: 1.5em;   
}

/* Footer */

footer a {
    color: red;
    font-size: 1.2em;
    padding-right: 5px;
}

footer a:hover {
    color: white
}